tml, body {
	max-width: 100%;
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden !important;
    overflow-y: scroll;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
  width: 80%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  height:100vh;
  font-size: 2em;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: middle;
}

h1 {
	font-family: Montserrat;
	font-size: 4em;
	font-weight: bold;
	line-height: 0.8;
  margin-bottom: 0;
}

p {
  width: 40%;
	font-family: Merriweather;
  font-size: 0.7em;
  font-weight: lighter;
	line-height: 160%;
  padding-top: 2%;
}

a {
	font-family: Merriweather;
  font-size: 0.8em;
  font-weight: lighter;
	line-height: 1.8;
  padding-top: 2%;
}

span {
  color: #ca2d2d;
}

button {
  font-family: Montserrat;
  font-size: 0.6em;
  letter-spacing: 2px;
  line-height: 2rem;
  background-color: transparent;
  padding:15px 60px 15px 60px;
  border-width:3px;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  }

  #profile_pic {
    background-image: url("./chay.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blog-section {
    width: 100%;
    height: 100vh;
    vertical-align: baseline;
  }

	.profile_pic {
	/*	background-color: rgba(190, 1, 24, 0.7); */
		width: 100vw;
		margin: 0;
		position: absolute;
		color: #F7F7F1;
	  padding-top: 10%;

	}
	#hi-ho-paragraph {
		font-family: Montserrat;
		width: 70%;
		font-weight: bold;
		font-size: 2em;
		line-height: 150%;
	}

	.about_something {
	}

	.about_something h1{
	  padding: 1%;
	  margin: 0;
	}

	.about_something p {
	  width: 50%;
		font-family: Merriweather;
	  font-size: 0.7em;
	  font-weight: lighter;
		line-height: 160%;
		margin: 0 0 0 13px;
		padding: 0;
	}

  .article {
    color: #F7F7F1;
    font-family: Montserrat;
    font-size: 1.2em;
    line-height: normal;
    width: 30vw;
    height: 20vh;
    display: inline;
    float: left;
    background-color: #323238;
    padding: 5%;
    margin: 1%;
  }

  .article a {
      text-decoration: none;
      color: #F7F7F1;
      text-align: left;
  }


.hi-ho {
	font-family: Montserrat;
	font-size: 4em;
	font-weight: bold;
	color: #F7F7F1;
  padding-top: 0;
  margin-top: 0;
	padding-top: 0;
}

.red_background {
  color: #f7f7f1;
  background-color: #BE0118;
}

.red_background img {
  width: 40%;
  display: inline;
  float: right;
  margin-right: 2%;
}

.white_background {
  color: #323238;
  background-color: white_background;
  padding-top: 0;
  margin-top: 0;

}
.white_background img {
  width: 40%;
  display: inline;
  float: left;
  margin-left: 2%;
}

.image-text {
  display: block;
  vertical-align: middle;
  padding-top: 5%;
  width: 100%;
  height: 70%;
}

.image-text h1 {
	font-size: 2em;
  font-weight: normal;
  line-height: 4rem;
  padding-top: 2%;
}

.pic-right {
	float: right;
	display: inline;
	width: 40%;
}

.pic-left {
	float: left;
	display: inline;
	width: 40%;
}

.text_left {
  width: 40%;
	float: left;
  display: inline;
}

.text_right {
  float: right;
  display: inline;
  width: 40%;
}

.button-blanc {
	color: #f7f7f1;
	padding-top: 2%;
  text-align: center;
	display: block;
  width: 100%;
  border-color:#F7F7F1;
  }

.button-rouge {
	color: #BE0118;
	padding-top: 2%;
  text-align: center;
  display: block;
  width: 100%;
  border-color: #BE0118;
  }

.blog-blocks {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  width: 80%;
}

.icons {
  display: inline;
  margin: 1%;
}




@media only screen and (max-width : 320px)
{
  section {
    background-color: yellow;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin: 0;
    height:100vh;
    line-height: 1.2em;
  }
  .about-text {
    color: green;
  	font-family: Montserrat;
  	font-size: 2em;
  	font-weight: bold;
  	line-height: 0.9;
    margin-bottom: 2%;
    margin-top: 5%;
  }

  p {
    width: 80%;
  	font-family: Merriweather;
    font-size: 0.5em;
    font-weight: 300;
  	line-height: 80%;
    font-weight: lighter;
  }
  .hi-ho {
  	font-family: Montserrat;
  	font-size: 3em;
  	font-weight: bold;
  	line-height: 0.4;
  	color: #ca2d2d;
  }

  .red_background img {
    width: 40%;
    display: block;
    float: right;
    margin-right: 2%;
  }

  .red_background {
    color: #f7f7f1;
    background-color: #CA2D2D;
  }



  .text_left {
    float: left;
    display: block;
    width: 100%;
  }

  .white_background {
    color: #323238;
  	font-family: Merriweather;
    background-color: white_background;

  }
  .white_background img {
    width: 50%;
    display: block;
    float: left;

  }

  .text_right {
    float: right;
    display: block;;
    width: 100%;
  }

}
@media only screen and (min-resolution: 165dpi) and (max-resolution: 168dpi), only screen and (min-resolution: 155dpi) and (max-resolution: 160dpi), only screen and (min-resolution: 134dpi) and (max-resolution: 144dpi), only screen and (min-resolution: 120dpi) and (max-resolution: 130dpi), only screen and (max-resolution: 116dpi) {
  /* Your click-specific css goes here */
}
